<div *ngIf="(afAuth.user | async) as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>

  <ngx-list theme="checkbox" [listItems]="typesOfShoes"></ngx-list>
  <button mat-raised-button color="primary" (click)="submit()">Submit</button>
  <h3>Items In The Store</h3>
  <ng-container *ngFor="let listItem of newArray">
    <div class="new-list"><ngx-list [listItems]="listItem"></ngx-list></div>
  </ng-container>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>
